.selectBox{
    padding: 30px;
    text-align: left;
    background-color: white;
    border-radius: 10px;
}

input{
    float: right;
    width: 20px;
    height: 20px;
    filter: hue-rotate(140deg);
}

.totalBox{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px;
    border-bottom: 2px solid rgb(126, 126, 126);
    margin-bottom: 10px;
}

.elementBox{
    font-size: 1.25rem;
    color: rgb(73, 73, 73);
    padding: 20px;
}